wheel
torch==2.8
xformers==0.0.32.post2
numpy==1.23.5
matplotlib==3.10.0
scikit-learn==1.6.1
ray==2.42.1
pre-commit==4.1.0
black==24.2.0
nvitop==1.4.2
git+https://github.com/neuro-galaxy/torch_brain@d48b0c822fbcaa27e15ba982bd6f619ed4260cd7 # main as of 9/30/25
git+https://github.com/neuro-galaxy/brainsets@61c8a7bc4fb39412a4d2f12c6209936606d4c12f  # main as of 12/24/25
git+https://github.com/neuro-galaxy/temporaldata@b0a92bf4f9e36e27c5eddbf02c8acbd5df90ee39  # main as of 12/24/25
ibllib==2.39.1
wandb
umap-learn==0.5.7
imblearn==0.0
